/*Google Font*/
.font-work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/*Main CSS*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background: rgba(255, 144, 14, 0.1);
}

.navbar{
display: flex;
justify-content: space-around;
align-items: center;
padding-top: 85px;
text-decoration: none;
}

.nav-links{
    display: flex;
    gap: 108px;
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    font-style: medium;
    line-height: 26px;
    
}

.nav-links a{
    text-decoration: none;
    color: #424242;
}

.logo h2{
    font-style: bold;
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;

}

.navbar-content{
    padding-top: 120px;
}

.navbar-content h1{
    color: black;
    font-style: bold;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
}

.navbar-content p{
    color: #424242;
    text-align: center;
    font-style: regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 30px;
}
.btn-1{
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    color:white ;
    border-radius: 8px;
    box-shadow: none;
    font-style: semi-bold;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    margin-top: 32px;
    margin-left: 869px;
    padding: 20px 25px;
    border: none;
}

.navbar-image{
    margin-top: 50px;
    margin-left: 240px;
    max-width: 144px;
    height: 700px;
    padding-bottom: 45px;
}
