/*Google Font*/
.font-work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/*Main CSS*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
display: flex;
justify-content: space-around;
align-items: center;
margin-top: 85px;
text-decoration: none;
}

.nav-links{
    display: flex;
    gap: 108px;
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    font-style: medium;
    line-height: 26px;
    
}

.nav-links a{
    text-decoration: none;
    color: #424242;
}

.logo h2{
    font-style: bold;
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;

}

.navbar-content{
    padding-top: 120px;
}

.navbar-content h1{
    color: black;
    font-style: bold;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
}
